*{
        padding: 0;
        margin: 0;
}

.all{
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: black;
       
     
        
        
}
.container{
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0.6;
       
       


}
.img{
        width:33%;
        height: 100%;
       
}
.img1{
        width:33%;
        height: 100%;
}
.img2{
        width:33%;
        height: 100%;
}
.nav{
        height: 50px;
       
        display: flex;
        /* background-color: red; */
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
        position: absolute;
        top: 50px;
        color: white;
        z-index: 10;
}
.cont{
        display: flex;
        align-items: center;
        gap: 4vw;
        position: absolute;
        left: 900px;
}
.cont h4{
        font-size: 20px;
}
.nav button{
        font-size: 1vw;
        padding: 0.7vw 1.4vw;
        background-color: white;
        color:  rgb(0, 0, 0);
        border: none;
        border-radius: 20px;
        font-weight: 600;
        width: 100px;
        height: 39px;
        cursor: pointer;
}
.nav button:hover{
        background-color: rgb(70, 70, 224);
        color: white;
}
.search{
        font-size: 20px;
        cursor: pointer;

        /* font-weight: 70; */
}
.nav h2:hover{
        color: rgb(224, 221, 221);
}
.nav h2{
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
}
.text h1{
        color: white;
        position: absolute;
        left: 280px;
        z-index: 10;
        top: 230px;
        font-size: 100px;
        font-family: 'Martel Sans', sans-serif;

}
.text h1 span{
        position: absolute;
        left: 140px;
        top: 100px;

}
.imgtext p{
        position: absolute;
        bottom: 20px;
        font-size: 30px;
        color: white;
        padding: 0 20px;
       
        
}
.imgtext{
        object-fit: cover;
        object-position: center;
}
.sub{
        display: flex;
        color: white;
        position: absolute;
        left: 300px;
}
.sub p{
        position: absolute;
        width: 30vw;
        top: 610px;
        left:-270px;
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        
        font-weight: 500;
}
.sub1{
        display: flex;
        color: white;
        position: absolute;
        left: 300px;
}
.sub1 p{
        position: absolute;
        width: 30vw;
        top: 650px;
        left:240px;
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        
        font-weight: 500;
}
.sub2{
        display: flex;
        color: white;
        position: absolute;
        left: 300px;
}
.sub2 p{
        position: absolute;
        width: 30vw;
        top: 680px;
        left:740px;
        font-size: 2rem;
        font-family: 'Ubuntu', sans-serif;
        
        font-weight: 500;
}
.white{
        width: 100%;
        height: 80%;
        background-color: rgb(255, 255, 255);
}
.sectext{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 2rem;
}
.sectext1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 2rem;
        margin-top: 4rem;
        
}
.white h3{
        padding: 5rem 2rem 0 2rem;
       color: rgb(77, 76, 76);
}
.third h3{
        padding: 5rem 2rem 0 2rem;
       color: rgb(77, 76, 76);
}

.sectext {
        font-size: 1.7rem;
        padding: 0rem 2rem 4rem 2rem;
       

}
.sectext h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 3.2rem;
       
}
.sectext button{
        font-size: 1vw;
        padding: 0.7vw 1.4vw;
        background-color: white;
        color:  rgb(0, 0, 0);
        border: 1px solid rgb(214, 213, 213);
        border-radius: 20px;
        font-weight: 600;
        width: 200px;
        height: 39px;
        cursor: pointer;
}
.sectext button:hover{
        background-color: rgb(70, 70, 224);
        border: none;
        color: white;
       
}


.sectext1 {
        font-size: 1.7rem;
        padding: 0rem 2rem 4rem 2rem;
       

}
.sectext1 h1{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 3.2rem;
       
}
.sectext1 button{
        font-size: 1vw;
        padding: 0.7vw 1.4vw;
        background-color: white;
        color:  rgb(0, 0, 0);
        border: 1px solid rgb(214, 213, 213);
        border-radius: 20px;
        font-weight: 600;
        width: 200px;
        height: 39px;
        cursor: pointer;
}
.sectext1 button:hover{
        background-color: rgb(70, 70, 224);
        border: none;
        color: white;
       
}
.contimg{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        margin-bottom: 80px;

}
.imgimg img{
        width: 30rem;
        
        border-radius: 20px;
        
}
.img3 img{ 
        width: 17rem;
}
.img3 img::before{
        content: "";
        background: black;
        opacity: 0.1;
}
.imgimg h3{
        font-size: 1.5rem;
        color: black;
        padding: 18px 10px;
        font-family: 'Josefin Sans', sans-serif;
        
        
}
.video video{
        width:100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
        opacity: 0.7;
}
.nice img{
        width:100%;
        height: 80%;
        object-fit: cover;
        object-position: center;
}
.vid{
        background-color: black;
}
.video h1{
        font-size: 6rem;
        font-family: 'Bebas Neue', sans-serif;
        position: absolute;
        left: 22%;
        top: 290%;
        color: white;
}
.video button{
        font-size: 0.9vw;
        padding: 0.7vw 1.4vw;
        background-color: white;
        color:  rgb(0, 0, 0);
        border: 1px solid rgb(214, 213, 213);
        border-radius: 20px;
        font-weight: 600;
        width: 230px;
        height: 39px;
        cursor: pointer;
        position: absolute;
        left: 43%;
        top: 310%;

}
.video button:hover{
        background-color: rgb(70, 70, 224);
        border: none;
        color: white;
       
}
.sectext1 .text{
        position: relative;
        left: 210px;
}
.lastdiv{
        width: 100%;
        height: 70%;
        background-color: red;
}
.last{
        width: 100vw;
        height: 80vh;
        background-color: rgb(0, 64, 255);
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
        align-items: center;
        justify-content: center;
}
.house h1{
        position: relative;
        top: 70px;
        color: white;
        padding: 0 20px;
        font-size: 3rem;
        font-weight: 700;
        
}
.owa{
        background-color:  rgb(0, 64, 255);
}
